<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hell0</h3>
            <h1 class="text-uppercase">I am shashank jaitly</h1>
            <h5 class="text-uppercase">freelance portfolio developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="/contact"><span>Hire Me</span></a>
              <a class="primary_btn tr-bg" href="#"><span>Get CV</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="./assets/img/banner/home-right.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="./assets/img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            let’s <br />
            Introduce about <br />
            myself
          </h2>
          <p>
            I'm a Self-Taught JavaScript Developer. Programming was fun they
            said, thus I started out with JavaScript Frameworks.
          </p>
          <p>
            I'm quite enthusiastic about technologiesincluding web and other
            tech sectors. I'm a Physics Major, with Quantum and AstroPhysics
            being my main subjects of interest. I'm currently working with
            Frontend Frameworks like ReactJS and Angular8. Node.js is the tech I
            use for Backend development.
          </p>
          <a class="primary_btn" href="#"><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start Brand Area =================-->
<section class="brand_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo5.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo6.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo7.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo8.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="./assets/img/brands/logo9.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4 col-md-6">
        <div class="client-info">
          <div class="d-flex mb-50">
            <span class="lage">10</span>
            <span class="smll">Years Experience Working</span>
          </div>
          <div class="call-now d-flex">
            <div>
              <span class="fa fa-phone"></span>
            </div>
            <div class="ml-15">
              <p>call now</p>
              <h3>+91 9990295204</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Brand Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>service offers</h2>
          <p>
            The most important and valuable web services offered by me <br />
            Get the best online support and services
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6" *ngFor="let item of items">
        <div class="feature_item" style="height: 350px;">
          <img [src]="item.src" alt="" />
          <h4>{{ item.title }}</h4>
          <p>
            {{ item.desc }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Area =================-->

<!--================Start Portfolio Area =================-->
<!-- <section class="portfolio_area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title text-left">
          <h2>
            quality work <br />
            Recently done project
          </h2>
        </div>
      </div>
    </div>
    <div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*">all</li>
        <li data-filter=".popular">popular</li>
        <li data-filter=".latest">latest</li>
        <li data-filter=".following">following</li>
        <li data-filter=".upcoming">upcoming</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row portfolio-grid justify-content-center">
        <div class="col-lg-4 col-md-6 all latest">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p1.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p1.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">minimal design</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p2.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p2.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Paint wall</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all latest">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p3.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p3.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">female light</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p4.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p4.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">fourth air</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all following">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p6.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p5.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">together sign</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all upcoming">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p5.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p6.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">multiply fowl</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all upcoming following">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p7.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p7.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">green heaven</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all following">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p8.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p8.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>fly male</h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all upcoming">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img
                class="img-fluid w-100"
                src="./assets/img/portfolio/p9.jpg"
                alt=""
              />
              <div class="overlay"></div>
              <a href="./assets/img/portfolio/p9.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">season face</a></h4>
              <p>Animated, portfolio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--================End Portfolio Area =================-->

<app-newsletter></app-newsletter>
