<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a routerLink="/index">
              <img src="./assets/img/logo.png" alt="" />
            </a>
            <h1 class="text-uppercase">shashank jaitly</h1>
            <h5 class="text-uppercase">freelance portfolio developer</h5>
            <h4>Follow Me</h4>
          </div>
          <div class="footer_social">
            <a href="https://www.facebook.com/theprogrammerdude"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/theprogrammerdude/"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.linkedin.com/in/shashank-jaitly-7b321ba6/"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a href="https://github.com/theprogrammerdude/"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="topBtn"
    (click)="gotoTop()"
    tooltip="Scroll to Top"
    placement="top"
    show-delay="100"
  >
    &uarr;
  </button>
</footer>
<!--================End Footer Area =================-->
